extends base.pug
include mixins/video

block content 
    form(method="GET")
        input(type="text", placeholder="Search by title", name="keyword")
        input(type="submit", value="search")
    #{console.log(videos)}
    each video in videos
        p=video.title 
        +videoContext(video)