extends base.pug

block content
    if errorMessage 
        span=errorMessage
    
    div 
        video#recorder
        button#recordButton Recording!

    form(method="POST", enctype="multipart/form-data")
        label(for="video") Video 
        input(type="file", name="video", id="video", accept="video/*")
        input(type="text", required, placeholder="title", name="title", maxlength=40)
        input(type="text", required, placeholder="description", name="description", minlength=20)
        input(type="text", required, placeholder="hashtags, separated by comma", name="hashtags")
        input(type="submit", value="Upload video")

block scripts  
    script(src="/static/js/recorder.js")