include ../mixins/messages

header     
    div        
        if messages.error 
            +messages("error", messages.error)
    a(href="/").header__logo
        i.fab.fa-youtube
    nav
        ul
            li
                a(href="/search") 
                    i.fas.fa-search
            if loggedIn
                li 
                    a(href="/videos/upload") Upload video                    
                li 
                    a(href="/users/edit")  Edit User
                li 
                    a(href="/logout") Logout                        
                li 
                    a(href=`/users/profile/${loggedInUser._id}`)
                        if loggedInUser.avataerFile === ""
                            span 😀
                        else   
                            img.header__avatar(src=`/users/store/${loggedInUser.avatarFile}` width="200", height="200", alt="please, set the avatar.")
            else   
                li 
                    a(href="/login") Login
                li 
                    a(href="/join").header__btn Join